.card{
    margin: 10px auto;
    margin-bottom: 0px;
    float: none; /* Added */
    background-color: #c8efff;
    Max-width: 500px;  
}

.row{
    margin-top: 10px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .img-fluid{
    max-width: 10%; 
     height: auto; 
 }
 