body {
    margin: 20px 20px;
    font: 16px -apple-system, sans-serif;
    line-height: 1.333em;
    background: white;
}

header {
    text-align: center;
}

/*--------------- Style the navbar -------------------- */
/*--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_responsive_navbar_dropdown*/
/*----------------------------------------------------- */
.topnav {
    overflow: hidden;
    background-color: white;
    /* center the navbar horizontally */
    display: flex;
    justify-content: center;
    /* --------------------------- */
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 17px;
    /* center links vertically */
    height: 30px;
    line-height: 30px;
    /* --------------------------- */
}

.topnav a.active {
    color: #b36200ff;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    color: #f58600ff;
    font-size: 17px;
    border: none;
    outline: none;
    padding: 0px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    /* center links vertically */
    height: 30px;
    line-height: 30px;
    /* --------------------------- */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    color: #b36200ff;
}

.dropdown-content a:hover {
    color: #b36200ff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*----------------------------------------------------- */
/*----------------------------------------------------- */
img.logo {
    max-height: 100%;
    width: 30px;
    height: 30px
}


img.info {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.box {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.home {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* unvisited link */
a:link {
    color: #f58600ff;
    text-decoration: none;
}

a:visited {
    color: #f58600ff;
}

/* mouse over link */
a:hover {
    color: #b36200ff;
}

h3 {
    text-align: center;
}

.main {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    /* Same width as the sidebar + left position in px */
    padding: 10px 10px;
    width: 600px;
}

.footer {
    margin-top: 100px;
    text-align: center;
}

.footerLinks {
    margin: 0 10px;
    text-align: center;
}

/*---------------responsive elements for small screens -------------------- */
/*------------------------------------------------------------------------- */
@media screen and (max-width: 600px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {


    .topnav {
        /* remove centering the navbar horizontally */
        display: block;
        justify-content: flex-end;
        /* --------------------------- */
    }


    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        height: auto;
        line-height: auto;
        padding: 7px 16px;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
        height: auto;
        line-height: auto;
        padding: 7px 16px;

    }

    img.box {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    img.info {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .main {
        margin: 0px;
        /* Same width as the sidebar + left position in px */
        padding: 0px;
        width: auto;
    }

    .footer {
        margin-top: 30px;
        text-align: center;
    }

}

/*------------------------------------------------------------------------- */
